<h1>¡Bienvenido a la tienda de mascotas!</h1>

<form (submit)="submit()" >
  <label for="login">Login</label>
  <input type="text" id="nombre" name="nombre" >
  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
  <div *ngIf="nombre.errors.required">
    La contraseña es obligatoria
  </div>
  </div>

<form (submit)="submit()" >
    <label for="nombre">Password</label>
    <input type="text" id="nombre" name="nombre" >
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
    <div *ngIf="nombre.errors.required">
      La contraseña es obligatoria
    </div>
    </div>
<router-outlet></router-outlet>